<div>
    <ul class="logo">
        <li><img src="../../../../assets/logo.svg" alt="logo"></li>
        <li>Pizzanio</li>
    </ul>
    
    <ul class="navig">
        <li>Головна</li>
        <li>Меню</li>
        <li>Замовлення</li>
        <li>Про нас</li>
    </ul>

    <ul class="navig">
        <li><a href="tel:+380936470424">+38(093)6470424</a></li>
        <li><a href="tel:+380936470424">+38(093)6470424</a></li>
        <li><a href="mailto:artem.hrishyn.it&#64;gmail.com">artem.hrishyn.it&#64;gmail.com</a></li>
    </ul>
</div>