<h1>про нас</h1>

<iframe width="1170" height="658" src="https://www.youtube.com/embed/FLNSVA1f-z8" title="ПІЦА , ЯК В ПІЦЕРІЇ 🍕 РЕЦЕПТ ПІЦИ НА ТОНКОМУ ТІСТІ 🍕 Домашня піца рецепт 🍕 ТІСТО ДЛЯ ПІЦИ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<div class="info">
    <div class="info__description">
        <h3>Lorem, ipsum.</h3>
        <p class="info__description__text-all">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam facilis eius excepturi delectus id minus quidem nulla iste repellendus, aperiam eveniet accusamus ab laborum odit et fugiat eaque laboriosam quibusdam illum quasi dolorum voluptates nisi! Earum assumenda, ad alias minima quos nemo. Qui assumenda nulla blanditiis itaque, animi quod voluptas similique at atque, officia esse quam. Ducimus id reiciendis quis ex aliquam recusandae iste incidunt, illum numquam sunt voluptates!</p>
        <p class="info__description__text-mini">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto ullam laborum consequatur ex porro quam optio necessitatibus a. Officia.</p>
        <pla-order></pla-order>
    </div>
    <div class="info__list">
        <h3>Lorem, ipsum.</h3>
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus, debitis harum odit accusamus accusantium unde odio impedit dolor.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, cum incidunt!</li>
            <li>Lorem ipsum dolor sit amet.</li>
        </ul>
    </div>
</div>