<ul class="logo">
    <li><img src="../../../../assets/image/logo.svg" alt="logo"></li>
    <li>Pizzanio</li>
</ul>
<ul class="navig">
    <li >
        <a [routerLink]="'main'" routerLinkActive="active">
            Головна
        </a>
    </li>
    <li><a [routerLink]="'menu'" routerLinkActive="active">
        Меню
    </a></li>
    <li>Замовлення</li>
    <li>Про нас</li>
</ul>

<ul class="personal">
    <li><img src="../../../../assets/image/icon/user.svg" alt="user"></li>
    <li><img src="../../../../assets/image/icon/internet.svg" alt="internet"></li>
</ul>