:host{
    margin: 15px 0;
}

a{
    align-self: baseline;
    padding: 19px 30px;
    background-color: #30202b;
    border: 2px solid #b83922;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
}